<!--Loading spinner-->
<div class="loading-overlay" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</div>



<div class="wrapper" *ngIf="!isLoading">
  <!-- Header -->
  <div class="header">
    <h1 class="main-title">Periodic Table of Elements</h1>
  </div>
  
  <!--Table-->
  <div class="grid-container">
    <div
      class="element-card"
      *ngFor="let element of dataSource; let i = index"
      (click)="openEditDialog(element, i)"
    >
      <div class="symbol">{{ element.symbol }}</div>
      <div class="details">
        <small>{{ element.position }}</small>
        <small>{{ element.name }}</small>
        <small>{{ element.weight }}</small>
      </div>
    </div>
  </div>

<!--Filter-->
  <div class="filter-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Filter elements</mat-label>
      <input
        matInput
        (input)="store.setFilter($any($event.target).value)"
        placeholder="Search by any field"
      />
    </mat-form-field>
  </div>
</div>
